*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  background: linear-gradient(rgb(190, 227, 231), rgb(64, 176, 241));
}

.header {
  font-weight: bold;
  margin-left: 3rem;
  font-size: 4rem;
  padding-top: 4%;
  padding-bottom: 2%;
}

.head-style:hover {
  height: 12rem;
}

.whole-page {
  background: linear-gradient(rgb(246, 246, 173), rgb(68, 239, 68));
  height: 80rem;
}

.a-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

.b-container {
  /* background: #fff; */
  width: 65%;
  height: 400px;
  display: flex;
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 10px 10px 80px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 80px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 80px -8px rgba(0, 0, 0, 0.75);
}

.c-container {
  width: 45%;
  height: 100%;
  padding: 15px;
}

.recent-scores {
  display: flex;
  justify-content: space-between;
}

.score-container {
  width: 90%;
  height: 15rem;
  margin-top: 40px;
  border: 2.1px solid #000;
  overflow: auto;
  overflow-x: hidden;
  font-size: large;
  font-weight: bold;
}

#game-user,
#game-score {
  width: 80%;
  border: 2px solid #000;
  margin-bottom: 5%;
  height: 2rem;
}

#score-btn,
#ref-btn {
  display: inline-block;
  background-color: #6c1bde;
  border-radius: 10px;
  border: 3px double #ccc;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  width: 8rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1rem;
}

#score-btn span,
#ref-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#score-btn span::after,
#ref-btn span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#score-btn:hover,
#ref-btn:hover {
  background-color: #e734ed;
}

#score-btn:hover span,
#ref-btn:hover span {
  padding-right: 25px;
}

#score-btn:hover span::after,
#ref-btn:hover span::after {
  opacity: 1;
  right: 0;
}

h2 {
  font-size: 32px;
  margin-bottom: 5%;
}

.game-records:hover {
  background-color: #6c1bde;
}

@media screen and (max-width: 768px) {
  * {
    overflow: auto;
    overflow-x: hidden;
  }

  .a-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .b-container {
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .c-container {
    width: 95%;
    margin-left: 10%;
  }

  .recent-scores {
    display: flex;
    justify-content: space-between;
  }
}
